## Read the dataset

In [37]:
import pandas as pd
import numpy as np 
import seaborn as sb
import matplotlib.pyplot as plt

In [38]:
bank = pd.read_csv("bank.csv")

In [39]:
bank.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [40]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

## Drop the columns which are unique for all users like IDs (2.5 points)

In [41]:
missing_values=bank.columns[bank.isnull().any()]
bank[missing_values].isnull().sum()

Series([], dtype: float64)

### Observations:  No missing values. 

### The features which are unique for all the attributes like the surname,Rownumber and customer Id are removed from the dataset

In [42]:
bank.drop(['RowNumber','CustomerId','Surname'],axis = 1, inplace = True)

In [43]:
bank.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

###  Label encode geography and gender since it needs to be converted into catagorical variables

In [44]:
from sklearn.preprocessing import LabelEncoder
labelencoder_x = LabelEncoder()

In [45]:
# Label encode geography
bank.iloc[:, 1] = labelencoder_x.fit_transform(bank.iloc[:, 1])
bank.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,Female,42,2,0.00,1,1,1,101348.88,1
1,608,2,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,0,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,0,Female,39,1,0.00,2,0,0,93826.63,0
4,850,2,Female,43,2,125510.82,1,1,1,79084.10,0

In [47]:
# Label encode gender
bank.iloc[:, 2] = labelencoder_x.fit_transform(bank.iloc[:, 2])
bank.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0

### Observation : One hot encoding is done for the geography feature. Since gender has only two values 0 and 1 it is ignored.

In [48]:
# hot encoding geograaphy

one_hot = pd.get_dummies(bank['Geography'])

In [49]:
bank = bank.join(one_hot)
bank.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,0,1,2
0,619,0,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,0,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1

### Observations: Goegraphy and one encoded column is dropped.

In [51]:
bank = bank.drop(['Geography', 0],axis = 1)

In [52]:
bank.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,1,2
0,619,0,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,1

## Distinguish the feature and target set

In [53]:
x = bank.iloc[:,[0,1,2,3,4,5,6,7,8,10,11]]
y = bank.iloc[:, 9]

In [54]:
x.head(2)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,1,2
0,619,0,42,2,0.00,1,1,1,101348.88,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,1

In [55]:
y.head(2)

0    1
1    0
Name: Exited, dtype: int64

## Normalize the train and test data and Divide the data set into Train and test sets

In [56]:
from scipy import stats

x = stats.zscore(x) 
y = tf.keras.utils.to_categorical(y)

### Train and test set are split into 80 and 20

In [165]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

## Initialize &amp; build the model

ignore warnings

In [166]:
import keras

In [167]:
import tensorflow as tf

In [168]:
from keras.models import Sequential
from keras.layers import Dense

In [169]:
#Initialize Sequential model
model = tf.keras.models.Sequential()

model.add(tf.keras.layers.Dense(10, input_dim =11, activation='relu'))

In [170]:
model.add(tf.keras.layers.Dense(2, activation='sigmoid'))

In [171]:
model.compile(optimizer='sgd', loss = "binary_crossentropy", metrics = ['accuracy'])

### Execute the model

In [172]:
model.fit(X_train, Y_train, 
          validation_data=(X_test, Y_test), 
          epochs=10,
          batch_size=10)

Train on 8000 samples, validate on 2000 samples
Epoch 1/10
8000/8000 [==============================] - 4s 559us/step - loss: 0.6001 - acc: 0.6997 - val_loss: 0.5010 - val_acc: 0.7982
Epoch 2/10
8000/8000 [==============================] - 3s 313us/step - loss: 0.4773 - acc: 0.7981 - val_loss: 0.4616 - val_acc: 0.8037
Epoch 3/10
8000/8000 [==============================] - 2s 310us/step - loss: 0.4487 - acc: 0.8054 - val_loss: 0.4387 - val_acc: 0.8115
Epoch 4/10
8000/8000 [==============================] - 3s 317us/step - loss: 0.4312 - acc: 0.8129 - val_loss: 0.4228 - val_acc: 0.8210
Epoch 5/10
8000/8000 [==============================] - 2s 310us/step - loss: 0.4192 - acc: 0.8183 - val_loss: 0.4111 - val_acc: 0.8265
Epoch 6/10
8000/8000 [==============================] - 3s 313us/step - loss: 0.4093 - acc: 0.8234 - val_loss: 0.4009 - val_acc: 0.8357
Epoch 7/10
8000/8000 [==============================] - 2s 311us/step - loss: 0.4004 - acc: 0.8304 - val_loss: 0.3917 - val_acc: 0.8432
Epoch 8/10
8000/8000 [==============================] - 3s 314us/step - loss: 0.3918 - acc: 0.8349 - val_loss: 0.3826 - val_acc: 0.8492
Epoch 9/10
8000/8000 [==============================] - 3s 314us/step - loss: 0.3840 - acc: 0.8399 - val_loss: 0.3744 - val_acc: 0.8520
Epoch 10/10
8000/8000 [==============================] - 3s 317us/step - loss: 0.3772 - acc: 0.8449 - val_loss: 0.3674 - val_acc: 0.8540

In [173]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_42 (Dense)             (None, 10)                120
_________________________________________________________________
dense_43 (Dense)             (None, 2)                 22
=================================================================
Total params: 142
Trainable params: 142
Non-trainable params: 0
_________________________________________________________________

## Optimize the model

#### optimized using ada delta

In [174]:
#Initialize Sequential model
model1 = tf.keras.models.Sequential()

model1.add(tf.keras.layers.Dense(10, input_dim =11, activation='relu'))
model1.add(tf.keras.layers.Dense(2, activation='sigmoid'))

adadelta_optimizer = tf.keras.optimizers.Adadelta(lr=1.0, rho=0.95, epsilon=None, decay=0.0)
model1.compile(optimizer=adadelta_optimizer, loss='mse', metrics = ['accuracy'])

In [175]:
model1.fit(X_train, Y_train, 
          validation_data=(X_test, Y_test), 
          epochs=10,
          batch_size=10)

Train on 8000 samples, validate on 2000 samples
Epoch 1/10
8000/8000 [==============================] - 5s 563us/step - loss: 0.1660 - acc: 0.7844 - val_loss: 0.1377 - val_acc: 0.8130
Epoch 2/10
8000/8000 [==============================] - 2s 297us/step - loss: 0.1356 - acc: 0.8132 - val_loss: 0.1276 - val_acc: 0.8300
Epoch 3/10
8000/8000 [==============================] - 2s 287us/step - loss: 0.1282 - acc: 0.8277 - val_loss: 0.1211 - val_acc: 0.8430
Epoch 4/10
8000/8000 [==============================] - 2s 287us/step - loss: 0.1225 - acc: 0.8362 - val_loss: 0.1163 - val_acc: 0.8490
Epoch 5/10
8000/8000 [==============================] - 2s 287us/step - loss: 0.1181 - acc: 0.8442 - val_loss: 0.1120 - val_acc: 0.8590
Epoch 6/10
8000/8000 [==============================] - 2s 298us/step - loss: 0.1144 - acc: 0.8489 - val_loss: 0.1091 - val_acc: 0.8600
Epoch 7/10
8000/8000 [==============================] - 2s 295us/step - loss: 0.1115 - acc: 0.8534 - val_loss: 0.1067 - val_acc: 0.8575
Epoch 8/10
8000/8000 [==============================] - 2s 289us/step - loss: 0.1096 - acc: 0.8541 - val_loss: 0.1054 - val_acc: 0.8610
Epoch 9/10
8000/8000 [==============================] - 2s 293us/step - loss: 0.1084 - acc: 0.8575 - val_loss: 0.1047 - val_acc: 0.8655
Epoch 10/10
8000/8000 [==============================] - 2s 292us/step - loss: 0.1075 - acc: 0.8577 - val_loss: 0.1043 - val_acc: 0.8625

#### Optimize using adam

In [176]:
#Initialize Sequential model
model2 = tf.keras.models.Sequential()

model2.add(tf.keras.layers.Dense(10, input_dim =11, activation='relu'))
model2.add(tf.keras.layers.Dense(2, activation='sigmoid'))

adam_optimizer = tf.keras.optimizers.Adam(lr=0.001, beta_1=0.9, beta_2=0.999, epsilon=None, decay=0.0, amsgrad=False)
model2.compile(optimizer=adam_optimizer, loss='mse', metrics = ['accuracy'])

In [177]:
model2.fit(X_train, Y_train, 
          validation_data=(X_test, Y_test), 
          epochs=10,
          batch_size=10)

Train on 8000 samples, validate on 2000 samples
Epoch 1/10
8000/8000 [==============================] - 5s 577us/step - loss: 0.1714 - acc: 0.7735 - val_loss: 0.1404 - val_acc: 0.8135
Epoch 2/10
8000/8000 [==============================] - 2s 299us/step - loss: 0.1363 - acc: 0.8126 - val_loss: 0.1267 - val_acc: 0.8295
Epoch 3/10
8000/8000 [==============================] - 2s 297us/step - loss: 0.1272 - acc: 0.8297 - val_loss: 0.1189 - val_acc: 0.8410
Epoch 4/10
8000/8000 [==============================] - 2s 303us/step - loss: 0.1211 - acc: 0.8402 - val_loss: 0.1137 - val_acc: 0.8500
Epoch 5/10
8000/8000 [==============================] - 2s 297us/step - loss: 0.1168 - acc: 0.8442 - val_loss: 0.1101 - val_acc: 0.8545
Epoch 6/10
8000/8000 [==============================] - 2s 299us/step - loss: 0.1135 - acc: 0.8490 - val_loss: 0.1079 - val_acc: 0.8585
Epoch 7/10
8000/8000 [==============================] - 2s 298us/step - loss: 0.1109 - acc: 0.8524 - val_loss: 0.1061 - val_acc: 0.8625
Epoch 8/10
8000/8000 [==============================] - 2s 299us/step - loss: 0.1089 - acc: 0.8564 - val_loss: 0.1042 - val_acc: 0.8640
Epoch 9/10
8000/8000 [==============================] - 2s 296us/step - loss: 0.1076 - acc: 0.8584 - val_loss: 0.1033 - val_acc: 0.8655
Epoch 10/10
8000/8000 [==============================] - 2s 304us/step - loss: 0.1065 - acc: 0.8600 - val_loss: 0.1024 - val_acc: 0.8650

#### Optimize using Adagrad

In [178]:
#Initialize Sequential model
model3 = tf.keras.models.Sequential()

model3.add(tf.keras.layers.Dense(10, input_dim =11, activation='relu'))
model3.add(tf.keras.layers.Dense(2, activation='sigmoid'))

adagrad_optimizer = tf.keras.optimizers.Adagrad(lr=0.01, epsilon=None, decay=0.0)
model3.compile(optimizer=adagrad_optimizer, loss='mse', metrics = ['accuracy'])

In [179]:
model3.fit(X_train, Y_train, 
          validation_data=(X_test, Y_test), 
          epochs=10,
          batch_size=10)

Train on 8000 samples, validate on 2000 samples
Epoch 1/10
8000/8000 [==============================] - 4s 548us/step - loss: 0.1553 - acc: 0.7956 - val_loss: 0.1445 - val_acc: 0.7975
Epoch 2/10
8000/8000 [==============================] - 2s 285us/step - loss: 0.1444 - acc: 0.7960 - val_loss: 0.1408 - val_acc: 0.7975
Epoch 3/10
8000/8000 [==============================] - 2s 293us/step - loss: 0.1417 - acc: 0.7961 - val_loss: 0.1388 - val_acc: 0.7975
Epoch 4/10
8000/8000 [==============================] - 2s 290us/step - loss: 0.1400 - acc: 0.7974 - val_loss: 0.1375 - val_acc: 0.8015
Epoch 5/10
8000/8000 [==============================] - 2s 291us/step - loss: 0.1388 - acc: 0.7994 - val_loss: 0.1364 - val_acc: 0.8095
Epoch 6/10
8000/8000 [==============================] - 2s 289us/step - loss: 0.1377 - acc: 0.8069 - val_loss: 0.1354 - val_acc: 0.8160
Epoch 7/10
8000/8000 [==============================] - 2s 293us/step - loss: 0.1366 - acc: 0.8120 - val_loss: 0.1343 - val_acc: 0.8210
Epoch 8/10
8000/8000 [==============================] - 2s 291us/step - loss: 0.1357 - acc: 0.8170 - val_loss: 0.1334 - val_acc: 0.8280
Epoch 9/10
8000/8000 [==============================] - 2s 290us/step - loss: 0.1348 - acc: 0.8202 - val_loss: 0.1325 - val_acc: 0.8335
Epoch 10/10
8000/8000 [==============================] - 2s 293us/step - loss: 0.1340 - acc: 0.8227 - val_loss: 0.1317 - val_acc: 0.8355

### Observations: After perfroming optimization with Adadelta, Adagrad, Adam, we can conclude that optimization done with adam yielded the best accuracy score of 86.0%

##  Predict the results using 0.5 as a threshold

In [180]:
y_pred = model2.predict(X_test)
print ("Prediction:", y_pred)

Prediction: [[0.748226   0.26730776]
 [0.7056067  0.275814  ]
 [0.88736326 0.1294984 ]
 ...
 [0.6958757  0.2642082 ]
 [0.8570678  0.18007076]
 [0.83662015 0.15628734]]

In [181]:
# set with threshold 0.5
y_pred_t = (model2.predict_proba(X_test) >= 0.5)
print ("Prediction with a threshold of 0.5: ", y_pred_t[:20])

Prediction with a threshold of 0.5:  [[ True False]
 [ True False]
 [ True False]
 [ True False]
 [ True False]
 [False  True]
 [ True False]
 [ True False]
 [ True False]
 [False  True]
 [ True False]
 [ True False]
 [ True False]
 [ True False]
 [False  True]
 [ True False]
 [ True False]
 [ True False]
 [ True False]
 [ True False]]

## Print the Accuracy score and confusion matrix

### confusion matrix

In [182]:
from sklearn.metrics import confusion_matrix

In [183]:
cm = confusion_matrix(Y_test.argmax(axis=1),y_pred_t.argmax(axis=1))
print (cm, '\n\n', y_pred[:5, :])

[[1539   56]
 [ 216  189]]

 [[0.748226   0.26730776]
 [0.7056067  0.275814  ]
 [0.88736326 0.1294984 ]
 [0.93730575 0.05989446]
 [0.8739174  0.13473345]]

### Accuracy score

In [184]:
print (((cm[0][0]+cm[1][1])*100)/(cm[0][0]+cm[1][1]+cm[0][1]+cm[1][0]), '% of testing data was classified correctly')

86.4 % of testing data was classified correctly